@page
@model MyStore.Pages.Clients.EditModel
@{
}

<h2>Edit Client </h2>


    @if (Model.errorMessage.Length > 0 ){
        <div class='alert alert-warning alert-dismissable fade show' role='alert'>
            <strong>@Model.errorMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
    }
  
@*   <form method ="POST" class="row g-3">
       <input type="hidden" name="Id" value="@Model.clientInfo.Id"
  <div class="col-md-6">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" value="@Model.clientInfo.Name">
  </div>
  <div class="col-md-6">
    <label for="Email" class="form-label">Email</label>
    <input type="text" class="form-control" name="Email" value="@Model.clientInfo.Email">
  </div>
  <div class="col-md-6">
    <label for="Phone" class="form-label">Phone</label>
    <input type="text" class="form-control" name="Phone" value="@Model.clientInfo.Phone">
  </div>
  <div class="col-md-6">
    <label for="Address" class="form-label">Address</label>
    <input type="text" class="form-control" name="Address" value="@Model.clientInfo.Address">
  </div>*@
     <form method ="POST" class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" value="@Model.clientInfo.Name">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="text" class="form-control" name="Email" value="@Model.clientInfo.Email">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Phone</label>
    <input type="text" class="form-control" name="Phone" value="@Model.clientInfo.Phone">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Address</label>
    <input type="text" class="form-control" name="Address" value="@Model.clientInfo.Address">
  </div>

            @if (Model.successMessage.Length > 0 ){
        <div class = 'alert alert-warning alert-dismissable fade show' role ='alert'>
            <strong>@Model.successMessage</strong>
            <button type = 'button' class='btn-close' data-bs-dismiss='alert' aria-label ='Close'></button>
            </div>
           
  
    }
   
            <div class="row mb-3 mt-5">
                <div class="offset-sm-3 col-sm-3 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button"> Cancel</a>
        </div>
    </div>
</form>

